#contact__form{
    width: 100%;
    z-index: 2;
    padding: 0 6rem;
}

#contact__form input:focus,
#contact__form textarea:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#contact__form input::placeholder,
#contact__form textarea::placeholder {
    color: #FFF !important;
    opacity: 1;
}


#contact__form textarea::placeholder {
    font-size: 1.2rem;
}

#contact__form textarea {
    
    line-height: 41px;
    background-image: -webkit-linear-gradient(left, #111020 0, transparent 0), -webkit-linear-gradient(right, #111020 0, transparent 0), -webkit-linear-gradient(#111020 40px, #404040 40px, #404040 41px, #111020 41px);
    background-repeat: repeat-y;
    background-size: 100% 100%, 100% 100%, 100% 41px;
    background-attachment: local;
    border: 10px solid #111020 !important;
    color: #FFF !important;
    overflow: auto;
}



.gradient-box__input {
    position: relative;
    box-sizing: border-box;
    color: #FFF;
    background: #111020;
    background-clip: padding-box;
    /* !importanté */
    border: solid 1px transparent;
    /* !importanté */
    border-radius: 500px;
}

.gradient-box__input:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(90deg, #FCDC00 0%, #FBC519 10%, #FA954E 32%, #F96E79 53%, #F95397 72%, #F83CB0 100%);
}

.gradient-box__input > input {
    border-radius: 500px;
    outline: none !important;
    background: transparent !important;
    border: none !important;
    height: 4rem;
    color: #FFF !important;
}


.gradient-box__div {
    border-image: linear-gradient(90deg, #FCDC00 0%, #FBC519 10%, #FA954E 32%, #F96E79 53%, #F95397 72%, #F83CB0 100%);
    border-width: 1px;
    min-height: 1rem;
    border-image-slice: 1;
    border-style: solid;
}
  
@media (max-width: 768px) {
    #contact__form {
        padding: 0 1rem;
    }
    /* Overrides */
    .title{
        font-family: 'Cera Pro Thin';
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        padding: 0.8rem 0;
    }
    .contact__text{
        font-size: 1rem !important;
        padding: 0 1rem !important;
    }
}