@font-face {
  font-family: 'Cera Pro Black';
  src: url('../static/fonts/Cera\ Pro\ Black.ttf');
}
@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../static/fonts/Cera\ Pro\ Medium.ttf');
}
@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../static/fonts/Cera\ Pro\ Bold.ttf');
}
@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../static/fonts/Cera\ Pro\ Regular.ttf');
}


body{
    background-color: #191930;
    background-repeat: no-repeat;
    /* background-image:  url("../static/images/cloud_1.svg"), url("../static/images/cloud_0.svg"); */
    background-image:   url("../static/images/cloud_2.svg");
    background-size: 70%;
    background-position-y: -20vh;
    background-position-x: 50%;
    font-family: 'Cera Pro Regular', sans-serif;
    color: #fff;

}

main{
    max-width: 96vw;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    background-color: #0d0b179f;
    border-radius: 2vw;
}

.section{
    padding: calc(2vw + 1vh) 5vw;
}

#hero{
    background-image:  url("../static/images/cloud_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: multiply;

}

.nav-link {
    font-family: 'Cera Pro Medium';
}

.navbar-toggler{
    border: none;
}

.hero__text{
    color: #fff;
    font-size: 3rem;
    font-family: 'Cera Pro Medium';
    line-height: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}
.hero__text span:nth-of-type(1){
    font-family: 'Cera Pro Medium';
    font-size: 5.5rem;
    letter-spacing: 0.8rem;
    line-height: 6rem;
    font-weight: 400;
}
.hero__text span:nth-of-type(2){
    font-family: 'Cera Pro Medium';
    font-size: 2rem;
    letter-spacing: 1rem;
}

.hero__strokes{
    padding-right: 4rem;
}

.navbar-brand>img{
    width: 10rem;
}

/*  About Section*/

.title{
    font-family: 'Cera Pro Medium';
    font-size: 3rem;
    font-weight: 400;
}
  
.title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    width: 60%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(90deg, #7237BD 0%, #FD0988 99.8%);
}

.about__text{
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

/* Services Section */
#services{
    background: url('../static/images/services/bg.svg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
}

.service-icon{
    height: calc(2vw + 2vh);
    width: calc(2vw + 2vh);
}

.service__card > div{
    background: transparent;
    border-radius: 10px;
}

.service__card > div:nth-of-type(odd){
    background: linear-gradient(49.88deg, #38344F 4.62%, #AE66C8 95.2%);
}
/* .service__card > .card-body:nth-of-type(even){
    
} */


.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position:relative;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding:10px;
    margin:10px;
    background:#f1f1f1;
    color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
   top:calc(50% - 20px);
}
.MultiCarousel .leftLst {
    left:0;
}
.MultiCarousel .rightLst {
    right:0;
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background:#ccc;
}


.carousel-indicators li{
    background-color: transparent !important;
    border-radius: 50%;
    width: 1rem !important;
    height: 1rem !important;
    border: 2px solid #fff !important;
}

.carousel-indicators li.active{
    background-color: #FB0988 !important;
    border: 2px solid #FB0988 !important;
}


@media screen and (max-width: 600px) {
    body{
        background-size: 80vh;
        background-position: 50% 10%;
    }
    main{
        max-width: 100vw;
        border-radius: none;
        margin: 0;
    }
    .container-fluid{
        border-radius: 0px;
    }
    .hero__text{
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
    }
    .hero__text span:nth-of-type(1){
        font-size: 4rem;
        letter-spacing: 0.5rem;
        line-height: 5.5rem;
    }
    .hero__text span:nth-of-type(2){
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
    }
    .hero__strokes{
        margin-left: auto;
        padding: 0;
    }
}

